<h2>Show Wallet</h2>

<ul>

  <li>
    <strong>Type:</strong>
    <%= @wallet.type %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= @wallet.date %>
  </li>

</ul>

<span><%= link "Edit", to: cms_wallet_path(@conn, :edit, @wallet) %></span>
<span><%= link "Back", to: cms_wallet_path(@conn, :index) %></span>
